body{
    /* margin: 0;
    padding: 0;
    position: relative;
    size: 30px; */
    display: flex;
    justify-content: center;
    background-color: #090580;
}



.container{
    margin-top: 100px;
    align-items: center;
    background-color: #46458c;
    border-radius: 10px;
}

.line{
    width: 100%;
    justify-content: space-between;
}

.button{
    background-color: blue;
    text-align: center;
}


